<div class="panel panel-default">
  <div class="panel-heading">
    Step 2
  </div>
  <div class="panel-body">
    <div class="container">
      <%= simple_form_for @item, method: :put, url: wizard_path do |f| %>
        <% if f.object.errors.any? %>
          <div class="error_messages">
            <% f.object.errors.full_messages.each do |error| %>
              <p><%= error %></p>
            <% end %>
          </div>
        <% end %>

        <fieldset>
          <div class="row">
            <legend>Describe your item...</legend>
            <div class="col-md-4">
              <div class="form-group">

                  <%= f.association :category, collection: Category.order('name ASC'), class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                  <%= f.text_field :description, placeholder: "Describe your item or package...", rows: 10, class: "form-control" %>
              </div>
            </div>
          </div>

          <div>
            <%= f.submit 'Next', class: "btn btn-primary" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

