<div class="panel panel-default">
  <div class="panel-heading">
    Step 1
  </div>
  <div class="panel-body">
    <div class="container">
      <%= form_for @item, method: :put, url: wizard_path do |f| %>
        <% if f.object.errors.any? %>
          <div class="error_messages">
            <% f.object.errors.full_messages.each do |error| %>
              <p><%= error %></p>
            <% end %>
          </div>
        <% end %>

        <fieldset>

          <div class="row">
            <legend>Give your item a name...</legend>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.text_field :item_name, placeholder: "Something catchy...", class: "form-control" %>
              </div>

            </div>
          </div>

          <div class="row">
            <legend>Add some photos...</legend>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.text_field :item_photo, class: "form-control" %>
              </div>
            </div>
          </div>
          <div>
            <%= f.submit 'Next', class: "btn btn-primary" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

