<%= form_for @item, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Item Price and Location</legend>

    <div>
      <%= f.label :price_daily %>
      <%= f.number_field :price_daily %>
    </div>

    <div>
      <%= f.label :price_weekly %>
      <%= f.number_field :price_weekly %>
    </div>

    <div>
      <%= f.label :price_monthly %>
      <%= f.number_field :price_monthly %>
    </div>

    <div>
      <%= f.label :post_code %>
      <%= f.text_field :post_code %>
    </div>

    <div>
      <%= f.submit 'Submit' %>
    </div>
  </fieldset>
<% end %>
